$bg-color: #1f3329;
$tx-color: #c1decf;
$box-color: #adc8de;
$bg-blue: #104673;
$tx-blue: #d3e4f2;
$rec-color: #c4a4eb;
$bg-purple: #3c1073;
$tx-purple: #ebdbff;
$white: #fff;

body {
  margin: 0;
  background-color: $bg-color;
  font-family: sans-serif;
  color: $tx-color;
  width: 100vw;
  overflow-x: hidden;
  cursor: none;
}

#cursor {
  position: fixed;
  background-color: $white;
  opacity: 0.5;
  border-radius: 100px;
  z-index: 1;
  width: 10px;
  height: 10px;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  transition: 0.3s ease width, 0.3s ease height, 0.2s ease opacity;

  #message {
    position: absolute;
    color: $bg-blue;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.1s ease opacity;
    transition-delay: 0.1s;
  }

  &.active {
    width: 48px;
    height: 48px;
    opacity: 0.8;

    #message {
      opacity: 1;
    }
  }

}

#cursor-follower {
  position: fixed;
  border: 1px solid;
  border-color: $white;
  opacity: 0.5;
  border-radius: 100px;
  z-index: 1;
  width: 48px;
  height: 48px;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  transition: 0.3s ease opacity, 0.3s ease width, 0.3s ease height;

  &.active {
    opacity: 0;
    width: 24px;
    height: 24px;
  }
}


section {
  height: 100vh;
  box-sizing: border-box;
  padding: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.fv {
  h1 {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 48px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.8em;
  }
}

.second {
  background-color: $bg-blue;
  color: $tx-blue;
  h2 {
    position: relative;
    margin-top: 0;
    font-size: 24px;
  }

  #box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    width: 32px;
    height: 32px;
    background-color: $box-color;
    z-index: 10;
  }

  #hide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 250px;
    background-color: $bg-blue;
    z-index: 1;
  }
}

.third {
  background-color: $bg-purple;
  color: $tx-purple;
  height: 300vh;
  align-items: center;

  h2 {
    position: absolute;
    top: 30vh;
    transform: translateY(-50%);
  }

  p {
    position: absolute;
    top: 70vh;
    transform: translateY(-50%);
  }

  #rectangle {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    height: 120px;
    width: 120px;
    background-color: $rec-color;
    border-radius: 8px;
  }
}

.fourth {
  background-color: $bg-blue;
  color: $tx-blue;
  h2 {
    position: relative;
    margin-top: 0;
    font-size: 24px;
  }
  
  a {
    color: $tx-blue;
    cursor: none;
  }

  a.button {
    display: inline-block;
    margin-top: 32px;
    padding: 12px 32px;
    border-radius: 4px;
    background-color: $tx-blue;
    color: $bg-blue;
    text-decoration: none;
    transition: 0.3s ease;
    &:hover {
      opacity: 0.6;
    }
  }
}